page-player{}

.item-background2{
    background-color: white;
    background-size: 270%;
    color:black;
}
img.Prueba{
    max-width: 400px;
}
ion-avatar.avatarJugador{
    margin:auto;
    width: 200px;
    height:200px;
}
span.valorJugador{
    font-style: solid;
    font-size: 20px;
}
img.brazalete{
    height: 50px;
    width: 50px;
}
h1.sancionado{
    color: rgb(170, 30, 30);
    font-style: solid;
    font-size: 15px;
    background-color: yellow;
}
