<head>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mis partidos pendientes</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="item-background">
    <div *ngIf="!this.isPartidosVacio()">
  <ion-list>
    <ion-item class="partido" *ngFor="let partido of partidos">
      <ion-avatar>
        <img src="http://footballleaguemanagmentapi.us-west-2.elasticbeanstalk.com/images/{{partido?.equipoLocalEscudo}}">{{partido?.equipoLocalNombre}}
        <span class="nGoles"> {{partido?.golesLocal}} </span>
      </ion-avatar>
      <ion-avatar>
        <img src="http://footballleaguemanagmentapi.us-west-2.elasticbeanstalk.com/images/{{partido?.equipoVisitanteEscudo}}">{{partido?.equipoVisitanteNombre}}
        <span class="nGoles"> {{partido?.golesVisitante}} </span>
      </ion-avatar>
      <p class="subtituloPartido">{{partido?.liga}} Jornada {{partido.jornada}}</p>
      <p class="subtituloPartido">{{partido?.fechaPartido}} {{partido?.horaPartido}}</p>
      <button ion-button (click)="this.cambiaAMatchPage(partido?.id)">Ver partido</button>
    </ion-item>
  </ion-list>
  </div>
  <div *ngIf="this.isPartidosVacio()">
    <span style="font-weight:700">No tiene partidos pendientes de arbitrar.</span>
    </div>
</ion-content>