<head>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mis partidos</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="item-background">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-icon class="cronometroIcono" name="timer"></ion-icon>
    </ion-row>
    <ion-row justify-content-center>
      <h2>Cronómetro</h2>
    </ion-row>
    <div class="crono">
      <ion-row justify-content-center>
        <ion-col col-3>
          <h1 class="datosCrono">
            <span class="numCrono">{{this.timer?.hora}}</span> h</h1>
        </ion-col>
        <ion-col col-3>
          <h1 class="datosCrono">
            <span class="numCrono">{{this.timer?.minuto}}</span> m</h1>
        </ion-col>
        <ion-col col-3>
          <h1 class="datosCrono">
            <span class="numCrono">{{this.timer?.segundos}}</span> s</h1>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col>
          <button class="btnCrono" ion-button color="secondary" (click)="this.comienzaCuenta()">Comenzar &nbsp;
            <!-- <ion-icon name="play"></ion-icon> -->
          </button>
        </ion-col>
        <ion-col>
          <button class="btnCrono" ion-button color="danger" (click)="this.timer?.reinicia()">Reiniciar &nbsp;
            <!-- <ion-icon name="repeat"></ion-icon> -->
          </button>
        </ion-col>
        <ion-col>
          <button class="btnCrono" *ngIf="this.timer?.contador!=undefined" ion-button (click)="this.timer.stop()">Parar &nbsp;
            <!-- <ion-icon name="pause"></ion-icon> -->
          </button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
  <ion-list>
    <ion-item class="partido" *ngFor="let partido of partidos">
      <ion-avatar>
        <img src="https://images.vexels.com/media/users/3/137466/isolated/preview/8689961068cfb4864f99ee54ad6ef920-cinta-de-escudo-etiqueta-insignia-by-vexels.png">{{partido?.equipoLocal.nombre}}
        <span class="nGoles"> {{partido?.golesLocal}} </span>
      </ion-avatar>
      <ion-avatar>
        <img src="https://vignette2.wikia.nocookie.net/hieloyfuego/images/3/32/Casa_Stark_escudo.png/revision/latest?cb=20150129151112">{{partido?.equipoVisitante.nombre}}
        <span class="nGoles"> {{partido?.golesVisitante}} </span>
      </ion-avatar>
      <p class="subtituloPartido">{{partido?.liga}} Jornada {{partido.jornada}}</p>
      <p class="subtituloPartido">{{partido?.fechaPartido}} {{partido?.horaPartido}}</p>
      <button ion-button (click)="this.cambiaAMatchPage(partido?.id)">Ver partido</button>
    </ion-item>
  </ion-list>
</ion-content>