page-match {

.ligaDiv{
    margin-bottom:10px;
}

}


ion-label.vs{
    margin-left:90px;
     }
h1.liga{
    position:relative;
    margin:auto;
    text-align: center;
}
p.liga{
    position:relative;
    margin:auto;
    text-align: center;
}
p.portero{
    color:darkblue;
    font-weight: 700;
}
p.jugadorTarjetaAmarilla{
    color:yellow;
    text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
    font-weight: 700;
}
p.jugadorTarjetaRoja{
    color:red;    
    font-weight: 700;
}
.arbitrar{
    width:12em;
    font-size: 14px;
    color:white;
}
.aplazar{
    width:12em;
    font-size: 14px;
    color:white;
    background: rgb(120, 2, 2);
}
button.finalizarPartido{
    background: rgb(172, 2, 2);
    color:rgb(248, 230, 230);
    font-size: 16px;
    font-weight: 700;
    width:280px;
    height:60px;
    border-radius: 14px;
    box-shadow: 1px 3px rgba(0, 0, 0, 0.52);
}
img.visitante{
   //position: static;
   float:left;
   //margin-left:50px;
}
img.local{
    float:left;
}
span.goles{
    font-size: 26px;
}
ion-app._gmaps_cdv_ .nav-decor {
    background-color: rgba(0,0,0,0);
}
ion-nav.has-views {
    background-color: transparent !important;
    }
    
ion-app.gmapscdv_ .nav-decor{
background-color: transparent !important;
}
.jugadorLocal{
    background: rgba(21, 70, 230, 0.137);
    color:rgb(0, 0, 0);
    font-size: 14px;
}
.jugadorVisitante{
    background: rgba(45, 230, 21, 0.137);
    color:rgb(0, 0, 0);
    font-size: 14px;
}
.equipoLocal{
    background: rgba(21, 70, 230, 0.137);
}
.equipoVisitante{
    background: rgba(45, 230, 21, 0.137);
}
p.dorsal{
    font-size: 32px;
    color: black;
}
p.capitan{
    color:rgb(78, 0, 0);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-weight: 700;
}
.btnGol{
    background: black;
    color: white;
}
.btnTAmarilla{
    background: yellow;
    color: black;
}
.btnTRoja{
    background: red;
    color: black;
}
h1.nombreYApellidos{
    font-size: 18px;
}
.btnEnviarActa{
    background: rgb(55, 132, 248);
    color:white;
    font-size: 12px;
}
h1.datosCrono{
    font-size: 10px;
}
span.numCrono{
    font-size: 22px;
}
div.crono{
    border-width: 4px;
    border-style: solid;
    border-color: rgba(78, 76, 76, 0.089);
}
.desconvocar{
    font-size: 11px;
}
.ver{
    font-size: 12px;
    background-color: black;
    color: white;
}
.convocar{
    font-size: 12px;
}
.finalizar{
    background-color: blue;
    color: white;
}
.modificar{
    background-color: orangered;
}
.minutoInput{
    width: 10%;
}
.input-cover{
    display: none;
}