page-player{}

.item-background2{
    color:black;
}
.background-div{
        display: block;
        position: absolute;
        margin-left: -15px;
        width: 100%;
        height: 100%;
        opacity: 0.1;
        z-index: -1;
        background-size: cover;               
        background-repeat: no-repeat;
        background-position: center center;
}
img.Prueba{
    max-width: 400px;
}
ion-avatar.avatarJugador{
    margin:auto;
    width: 200px;
    height:200px;
}
span.valorJugador{
    font-style: solid;
    font-size: 20px;
}
img.brazalete{
    height: 50px;
    width: 50px;
}
h1.sancionado{
    color: rgb(170, 30, 30);
    font-style: solid;
    font-size: 15px;
    background-color: yellow;
}
