page-inicio {

}
.item-background3{
    //background-image:url(http://www.quo.es/var/quo/storage/images/ser-humano/que-pais-invento-el-futbol/906526-1-esl-ES/que-pais-invento-el-futbol_ampliacion.jpg);
    //color: white;
    //background-size: 300%;
    background-color:white;
}
.inicio{
    background: transparent;
}
.etiqueta{
    color:black;
}
.entradaTexto{
    color:black;
}
input::-webkit-input-placeholder{
        color:black;
}
.recordar{
    width:100%;
}