page-inicio {

}
.item-background3{
    background-image:url("https://static.vecteezy.com/system/resources/previews/000/197/416/non_2x/vector-football-with-green-wave-background.jpg");
    background-size: cover;               
    background-repeat: no-repeat;
    background-position: center center;  
}
.inicio{
    background: transparent;
}
.etiqueta{
    color:black;
}
.entradaTexto{
    color:black;
}
input::-webkit-input-placeholder{
        color:black;
}